@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

body{
	background-image: url("../img/pexels-andre-moura-3293037.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
#divGame {
	padding-top:50px;
	margin:0 auto;
	margin-left: 35%;
}

canvas{
	border: 20px solid whitesmoke;
	border-radius: 5%;
	background-color: black;
}

